.clock {
  margin-top: 80px;
  padding: 0 5px 0 80px;
  color: var(--color-text);
  text-shadow: 1px 1px 1px var(--color-text-gray);
  flex-grow: 1;
  text-align: right;
}
.clock-dig, .clock-colon {
  font-size: 60px;
}
.clock-colon:after {
  content: ":";
}
.clock-date {
  padding-right: 5px;
  margin-top: -5px;
  text-align: right;
}